<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>About us-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
    <body>
      <header>
        <%- include('../layouts/navbar.ejs'); %>
              <div class="container-fluid" style=" padding-top: 3%; padding-left: 20%;padding-right: 20%;">
           
                
                <h2>Javaloca</h2>
                  
                  <p> Setelah 1,5 tahun mendalami ilmu Information Technology di Universitas Tarumanagara kami pada ahkirnya dapat membuat sebuat web site yang bernama Javaloca. Kini kami telah di persiapkan untuk menghadirkan kenyamanan untuk perjalanan anda. Kami telah menyiapkan berbagai pilihan perjalan dan tempat menginap di wilayah jawa . Kini javaloca siap kapan pun dimanapun di wilayah jawa. </p>
                  <br>
                  <h2>VISI</h2>
                  <p>kami adalah perusahaan profesional. Kami memiliki visi "Memberi keyaman lebih dari yang anda bayangkan. visi kami untuk memberikan yang terbaik untuk anda. Terbaik dalam layanan maupun peyalanan. visi tersebut akan kami wujudkan melalui visi kami yang berbunyi"memberikan layanan unggul dan Provesional bari para Coscumer. Kami meyakini untuk menjadi yang terbaik kami harus melakukan yang terbaik didalam hidup kami. Dengan itu kami akan selalu melayani anda dengan baik dan lebih baik.</p>
                  <br>
                  <h2>Kreator</h2>
                  <p>535200005 Erico jochsen</p>
                  <p>535200017 William mulyadi</p>
                  <p>535200024 Gion andrian</p>
                  <p>535200033 Valentino michael</p>
                  <p>535200040 Daniel carlos</p>
                  <br>

        </div>
          </header>        
       
            
        
          <%- include('../layouts/footer.ejs'); %>
        
          
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                  
        </body>
        </html>