<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Contact us-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

          <style type="text/css">
            
           .contact-form{
             width: 85%;
             max-width: 600px;
             background: #fafafa;
             position: relative;
             top: 100%;
             left: 50%;
             transform: translate(-50%,-50%);
             padding: 50px 40px;
             box-sizing: border-box;
             border-radius: 8px;
             text-align: center;
             box-shadow: 0 0 20px #000000b3;
             font-family: "Montserrat",sans-serif;
           }
           .contact-form h1{
             margin-top: 100;
             font-weight: 200;
           }
           .txtb{
             border:1px solid gray;
             margin: 8px 0;
             padding: 12px 18px;
             border-radius: 8px;
           }
           .txtb label{
             display: grid;
             text-align: left;
             color: #333;
             text-transform: uppercase;
             font-size: 14px;
           }
           .txtb input,.txtb textarea{
             width: 100%;
             border: none;
             background: none;
             outline: none;
             font-size: 18px;
             margin-top: 6px;
           }
           .btnn{
             display: inline-block;
             background: #008cba;
             padding: 14px 0;
             color: white;
             text-transform: uppercase;
             cursor: pointer;
             margin-top: 8px;
             width: 100%;
           }
             </style>
</head>
<body>
    <header>
       <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html"><img src="https://1.bp.blogspot.com/-7cKt5UxU9A8/YUgW-G0Y_QI/AAAAAAAAAxc/01xNgeoWNqsqoP6wnYvfydB7bPUG7wTnQCLcBGAsYHQ/s320/javaloca2-removebg-preview.png" width="175px" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons" style="font-size: 35px;">menu</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="mr-auto"></div>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="partner.html">Partner with us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Transport
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="plane.html">Airplane</a>
                          <a class="dropdown-item" href="train.html">Train</a>
                        </div>
                      </li>
                    
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Accommodations
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="hotelbooking.html">Hotel</a>
                          <a class="dropdown-item" href="villa.html">Villa</a>
                        </div>
                      </li>
                    
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="faq.html">Faq</a>
                            <a class="dropdown-item" href="promo.html">Promo</a>
                          <a class="dropdown-item" href="mybook.html">My booking</a>
                          <a class="dropdown-item" href="vacation.html">Thing to do</a>
                        </div>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="sign in william.html">Account</a>
                    </li>
                    
              </div>
            </div>
          </nav>
       </div>
    </header>
    <h2 class="text-center">Contact us</h2>
    <br>
    <br>

<div class="container-fluid" style="padding-bottom: 20px; padding-top: 20em;">
    <div class="contact-form">
      <h1>Hubungi Kami</h1>
      <div class="txtb">
        <label>Nama Lengkap :</label>
        <input type="text" name="" value="" placeholder="Tulis Nama disini...">
      </div>
      <div class="txtb">
        <label>Email :</label>
        <input type="email" name="" value="" placeholder="Tulis Email disini...">
      </div>
      <div class="txtb">
        <label>Nomor HP :</label>
        <input type="text" name="" value="" placeholder="Tulis Nomor HP disini...">
      </div>
      <div class="txtb">
        <label>Pesan :</label>
        <textarea></textarea>
      </div>
      <a class="btnn">Kirim</a>
    </div>
    
</div>
<div class="text-center">
  <h3> atau hubungi no berikut</h3>
  <p>+62-555-6633-8899</p>
  <p>+62-777-7733-3399</p>
</div>


<%- include('../layouts/footer.ejs'); %>




  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
</body>
</html>