<!DOCTYPE html>
     <html lang="en">
     <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=, initial-scale=1.0">
         <title>Hotel-Javaloca</title>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
               rel="stylesheet">
               <link rel="stylesheet" href="tamplate_1.css">
               <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
               rel="stylesheet">
        <link rel="stylesheet" href="plane.css">
    <link rel="stylesheet" href="/css/tamplate_1.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
             
     </head>
     <body>
         <header>
            <div class="container-fluid p-0">
                <%- include('../layouts/navbar.ejs'); %>
            </div>  
        </header>
        <section class="section-1"> 
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pray">
                            <img src="/img/hotel1.jpg" alt="pantai" >
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center" >
                        <div class=" text-left " >
                            <h1>Hotel</h1>
                            <form action="/accommodation/hotel-results" method="post">
                                <div class="from-group">
                                    <label for="inputState">Locations</label>
                                    <select id="inputState" class="form-control" name="location" >
                                    <option selected value="surabaya">Surabaya</option>
                                     </select>
                                </div>
                    
                                <div class="input-grp">
                                    <label>Check-in</label>
                                <input type="date" id="check-in" class="form-control select-date" name="checkin">
                                </div>
                    
                                <div class="input-grp">
                                    <label>Night</label>
                                    <select class="custom-select" name="malam">
                                        <option value=1 >1 Night</option>
                                        <option value=2 >2 Night</option>
                                        <option value=3 >3 Night</option>
                                        <option value=4 >4 Night</option>
                                        <option value=5 >5 Night</option>
                                    </select>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Show Hotel</button>
                                <% if(locals.error) { %>
                                    <span class="text-danger pl-2" style="font-size: 2.2vh"><%= error %></span>
                                    <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            </section>
           
        </div>
        </div>
        <br>
        <%- include('../layouts/footer.ejs'); %>
        <script>
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
    
            today = yyyy + '-' + mm + '-' + dd;
            $('#check-in').attr('min',today);

        </script>
                 
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>