<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Resoult-Javaloca</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="/css/tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <header>
       <div class="container-fluid p-0">
        <%- include('../layouts/navbar.ejs'); %>
       </div>
    </header>

    <br>

    <div class="container-flex p-5">
        <h3>Bagaimana cara pesan tiket dengan javaloca ?</h3><br>
        <h6><b>1. login</b></h6>
                  <p>Login terlebih dahulu jika sudah mempunyai akun, jika belum anda dapat membuat akun terlebih dahulu</p>
                  <br>
                  <h6><b>2. pilih menu</b></h6>
                  <p>setelah login anda dapat memilih menu transport, pilihlah jenis kendaraan yang ingin anda pesan</p>
                  <br>
                  <h6><b>3. pilih tanggal dan tujuan</b></h6>
                  <p>pilihlah tanggal pemberangkatan dan tujuan anda</p>
                  <br>
                  <h6><b>4. pilih kursi yang tersedia</b></h6>
                  <p>setelah anda yakin dengan kursi yang dipilih silahkan pilih lanjut untuk masuk kedalam rincian dan menu pembayaran</p>
                  <br>
                  <h6><b>5. rincian dan pembayaran</b></h6>
                  <p>setelah anda mendapatkan rincian anda bisa memastikan kembali apakah pesanan sudah sesuai jika sudah anda dapat melanjutkan ke 
                      metode pembayaran yang bermitra dengan kami
                  </p>
                  <br>
                  <h6><b>6. voucher</b></h6>
                  <p>setelah pembayaran terkonfirmasi anda akan mendaptkan voucher secara digital melalui web javaloca.</p>

                  <br><br>

                  <h3>bagaimana cara pesan hotel dan villa ?</h3>
                  <br>
                  <h6><b>1. login</b></h6>
                    <p>Login terlebih dahulu jika sudah mempunyai akun, jika belum anda dapat membuat akun terlebih dahulu</p>
                    <br>
                    <h6><b>2. pilih menu</b></h6>
                    <p>setelah login anda dapat memilih menu Accommodations lalu pilih jenis penginapan</p>
                    <br>
                    <h6><b>3. pilih tanggal dan lokasi</b></h6>
                    <p>pilihlah tanggal checkin dan cekout serta lokasi penginapan</p>
                    <br>
                    <h6><b>4. pilih hotel yang tersedia</b></h6>
                    <p>setelah itu pilih lah hotel yang sesuai, lalu pilih lanutkan</p>
                    <br>
                    <h6><b>5. rincian dan pembayaran</b></h6>
                    <p>setelah anda mendapatkan rincian anda bisa memastikan kembali apakah pesanan sudah sesuai jika sudah anda dapat melanjutkan ke 
                        metode pembayaran yang bermitra dengan kami
                    </p>
                    <br>
                    <h6><b>6. voucher</b></h6>
                    <p>setelah pembayaran terkonfirmasi anda akan mendaptkan voucher secara digital melalui web javaloca.</p>
    </div>






        <%- include('../layouts/footer.ejs'); %>

          
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E</script>
</body>
</html>