<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Partner-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <header>
       <div class="container-fluid p-0">
           

        <%- include('../layouts/navbar.ejs'); %>

       </div>
    </header>
    <h2 class="text-center">Partner with us</h2>
    <br>

    <form class="container-fluid">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="modal fade" id="cekterms" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Terms</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>1.	javaloca menyediakan dan menyelenggarakan sistem dan fasilitas pemesanan online secara terpadu ("Layanan"), yang dapat melayani pemesanan/pemesanan: AKOMODASI (hotel, hostel, apartment), TRANSPORTASI (udara-laut-darat), EVENT & ATTRACTION (bioskop, Pertunjukan, Leisure) ("Produk") yang memungkinkan Anda untuk mencari informasi atas Produk yang Anda inginkan, serta melakukan pemesanan dan pembelian dan sekaligus melakukan pembayaran secara online dan aman melalui berbagai sistem dan fasilitas pembayaran yang tersedia.</p>
                    <p>2.	Layanan Kami secara umum dapat tersedia secara online selama dua puluh empat jam sehari dan tujuh hari dalam seminggu; kecuali dalam hal adanya perbaikan, peningkatan atau pemeliharaan pada Website Kami.</p>
                    <p>3.	Produk disediakan, disuplai dan diselenggarakan oleh pihak ketiga ("Mitra Penyedia") yang telah mengadakan kerjasama dan telah mengadakan ikatan, baik secara langsung ataupun tidak langsung, dengan Kami. Anda memahami dan mengakui bahwa:
                      <ul><li>	Pemesanan dan pembelian yang Anda lakukan melalui jacaloca, merupakan hubungan hukum dan kontrak yang mengikat antara Anda dan Mitra Penyedia Kami. Dalam hal ini, javaloca bertindak sebagai agen atau perantara yang bertugas untuk memfasilitasi transaksi antara Anda dan mitra Kami. Hubungan tiket.com dan mitra Kami terbatas pada hubungan kemitraan, yang dalam hal ini mitra Kami BUKAN merupakan bagian dari javaloca.</li>
                      <li>	Data dan informasi termasuk foto terkait dengan Produk tertentu yang Kami cantumkan pada Website merupakan data dan informasi yang Kami terima dari Mitra Penyedia, dan Kami mempublikasikan data dan informasi tersebut dengan itikad baik sesuai dengan data dan informasi yang Kami terima. Oleh karena itu, data, informasi dan foto dapat berbeda dengan aslinya.</li>
                      <li>	Kami tidak memiliki kendali atas data dan informasi yang diberikan oleh Mitra Penyedia, dan Kami tidak menjamin bahwa data dan informasi yang disajikan adalah akurat, lengkap, atau benar, dan terbebas dari kesalahan.</li>
                      <li>	Kami tidak memiliki kendali atas tindakan dan kesalahan yang dilakukan oleh Mitra Penyedia sehingga menyebabkan kerugian yang dialami oleh Anda di kemudian hari.</li> 
                      <li>	Anda tidak diperbolehkan untuk menjual kembali Produk Kami, menggunakan, menyalin, mengawasi, menampilkan, men-download, atau mereproduksi konten atau informasi, piranti lunak, atau Layanan apa pun yang tersedia di Website Kami untuk kegiatan atau tujuan komersial apapun, tanpa persetujuan tertulis dari Kami sebelumnya.</li>
                      <li>	Anda dapat menggunakan Website dan Layanan yang tersedia untuk membuat pemesanan/pemesanan yang sah. Anda tidak diperbolehkan untuk membuat pemesanan/pemesanan untuk tujuan spekulasi, tidak benar atau melanggar hukum. Jika Kami menemukan atau sewajarnya menduga bahwa pemesanan/pemesanan yang Anda buat ternyata tidak sah, maka Kami mencadangkan hak untuk membatalkan pemesanan/pemesanan Anda.</li>
                      <li>	Anda juga menjamin bahwa data dan informasi yang Anda berikan ke Kami, baik sehubungan dengan pemesanan/pemesanan ataupun pendaftaran pada tiket.com, adalah data dan informasi yang akurat, terkini dan lengkap. Untuk ketentuan penggunaan data dan informasi yang Anda berikan, silakan untuk merujuk pada Kebijakan Penggunaan Data.</li>
                      <li>	Transaksi tiket.com yang resmi hanyalah yang dilakukan melalui website dan aplikasi tiket.com. Kami tidak bertanggungjawab atas transaksi yang terjadi diluar website dan/atau aplikasi javaloca.</li>
                      <li>	Komunikasi yang resmi dari Kami hanyalah yang berasal dari alamat email sebagai berikut: javaloca.@gmail.com. Komunikasi diluar alamat email tersebut bukan merupakan tanggung jawab Kami.</li>
                      <li>	Segala informasi yang terdapat dalam Surat Konfirmasi hanya untuk nama yang tertera pada Surat Konfirmasi. Kami tidak bertanggung jawab dalam hal informasi tersebut tersebar karena kelalaian dan/atau kesengajaan Anda sehingga menimbulkan kerugian bagi Anda atau pihak ketiga yang lainnya.</li></ul>
                      </p>dan tidak boleh membuat link, melakukan screen capture atau data crawling ke Website tanpa adanya persetujuan tertulis sebelumnya dari javaloca.netlify.app. Hal-hal tersebut dianggap sebagai pelanggaran hak milik intelektual javaloca.netlify.app.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cekterms" >Submit</button>
      </form>

      <br>
  

      <%- include('../layouts/footer.ejs'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          
</body>
</html>