<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Promo-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <header>
       <div class="container-fluid p-0">
        <%- include('../layouts/navbar.ejs'); %>
       </div>
       
    </header>
    <h2 class="text-center">Promo</h2>
    <br>

        <section class="section10 ">
          <div class="card mb-3">
            <a href="promo1.html">
              <div class="card-body" style="color: black;">
                  <div class="row">
                      <div class="col-md-4">
                          <img src="https://thumbs.dreamstime.com/z/travel-tours-exclusive-package-up-to-off-vector-d-realistic-traveling-item-elements-green-background-ads-banner-149338669.jpg" alt="" style="justify-content: center;" height="175px" width="250px" class="d-flex img-tam">
                      </div>
                      <div class="p-2 bd-highlight justify-content-center align-self-center">
                          <h5 class="card-title">Diskon Murah Meriah 50% off</h5>
                          <p class="card-text">Diskon Murah Meriah merayakan hari libur bersama mulai dari 50%.</p>
                          <p class="card-text"><small class="text-muted">Berlaku hingga Desember 2021</small></p>
                      </div>
                    </div>
              </div>
            </a>
        </div>

        <div class="card mb-3">
          <a href="promo2.html">
            <div class="card-body" style="color: black;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://foto.kontan.co.id/WZjrK2ZTsm3ISYj8Lu18lPZtRx0=/smart/2021/09/24/1860051886p.jpg" height="175px" width="250px" class="d-flex">
                    </div>
                    <div class="p-2 bd-highlight justify-content-center align-self-center">
                        <h5 class="card-title">Promo spesial sebesar 30% untuk semua penginapan</h5>
                        <p class="card-text">Diskon untuk sewa Villa untuk seluruh pulau jawa.</p>
                        <p class="card-text"><small class="text-muted">Berlaku untuk Senin s/d Kamis</small></p>
                    </div>
                  </div>
            </div>
          </a>
      </div>

      <div class="card mb-3">
          <a href="promo3.html">
            <div class="card-body" style="color: black;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://cdn-2.tstatic.net/travel/foto/bank/images/promo-tiket-pesawat-traveloka.jpg" alt="" style="justify-content: center;" height="175x" width="250px" class="d-flex">
                        
                    </div>
                    <div class="p-2 bd-highlight justify-content-center align-self-center">
                        <h5 class="card-title">Diskon tiket Pesawat Rp.100rb</h5>
                        <p class="card-text">Berlaku untuk Penerbangan pertama.</p>
                        <p class="card-text"><small class="text-muted">Berlaku untuk destinasi di daerah jawa</small></p>
                    </div>
                  </div>
            </div>
          </a>
      </div>
            </section>
            
           
            <%- include('../layouts/footer.ejs'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          
</body>
</html>