<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Terms-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <style>
            .textterms{
              color: black;
            }
          </style>
</head>


  <body>

    <header>
      <div class="container-fluid p-0">
        
        <%- include('../layouts/navbar.ejs'); %>

      </div>
      
   </header>
   <h2 class="text-center">Terms</h2>
   <br>

    <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingone">
        <h5 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3 class="textterms">Syarat & ketentuan</h3>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>1.	Terima kasih atas kunjungan Anda ke Website dan Layanan Kami, Kami berharap agar kunjungan Anda dapat bermanfaat dan memberi kenyamanan dalam mengakses dan menggunakan seluruh Layanan yang tersedia di Website Kami. Kami sangat menghargai segala kritik, saran dan masukan dari Anda. Silakan Anda menyampaikannya ke Kami melalui telepon di 0896-0377-3811.</p>
          <p>2.	Website ini dimiliki, dioperasikan dan diselenggarakan oleh Pungut Squad. Website dan Layanan Kami tersedia secara online melalui Website: https://javaloca.netlify.app  atau berbagai akses, media, perangkat dan platform lainnya, baik yang sudah atau akan tersedia dikemudian hari.</p>
          
</div>
</div>
   </div>   
  </div>  

  <br>
   
   <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h3 class="textterms">Umum</h3>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>1.	Dengan mengakses dan menggunakan Website dan Layanan Kami, Anda menyatakan telah membaca, memahami, menyetujui dan menyatakan tunduk pada Syarat dan Ketentuan Umum ini. </p>
          <p>2.	Syarat dan Ketentuan Umum ini terdiri atas (1) Syarat dan Ketentuan Umum yang berlaku untuk setiap akses dan Layanan yang tersedia pada Website, dan (2) syarat dan ketentuan khusus yang mengatur lebih lanjut ketentuan penggunaan produk atau Layanan tertentu. </p>
          <p>3.	Syarat dan Ketentuan Umum dapat Kami ubah, modifikasi, tambah, hapus atau perubahan setiap saat sesuai dengan pengembangan Website dan peraturan perundang-undangan. Anda Kami anjurkan untuk mengunjungi Website Kami secara berkala agar dapat mengetahui adanya perubahan tersebut.</p>
          <br>
</div>
</div>
 </div>  
 <br>

 <div class="card">
  <div class="card-header" id="headingone">
    <h5 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4 " aria-expanded="true" aria-controls="collapse4">
        <h3 class="textterms">Penggunaan</h3>
      </button>
    </h5>
  </div>
  <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
    <div class="card-body">
      <p>1.	Website ini dan produk-produk, teknologi dan proses yang terdapat atau terkandung dalam Website, dimiliki oleh Kami atau pihak ketiga yang memberi hak kepada Kami. Kecuali untuk penggunaan yang secara tegas diijinkan dan diperbolehkan dalam Syarat dan Ketentuan Umum ini, Anda tidak memiliki ataupun menerima dan tiket.com tidak memberikan hak lain apapun ke Anda atas Website ini, berikut dengan segala data, informasi dan konten didalamnya.</p>
          <p>2.	Dengan menggunakan Website ini atau Layanan yang tersedia didalamnya, maka Anda menyatakan setuju tidak akan men-download, menayangkan atau mentransmisi dengan cara apa pun, dan atau membuat konten apa pun tersedia untuk umum yang tidak konsisten dengan penggunaan yang diijinkan dalam Syarat dan Ketentuan Umum ini.</p>
          <p>3.	Dalam Website ini mungkin terdapat link (tautan) ke website yang dikelola oleh pihak ketiga (“Situs Eksternal”) yang melakukan kerjasama dengan Kami. </p>
          <p>4.	Kami tidak mengoperasikan, mengendalikan atau mendukung dalam bentuk apa pun Situs Eksternal yang bersangkutan ataupun konten/isinya. Anda bertanggung jawab penuh atas penggunaan Situs Eksternal tersebut dan dianjurkan untuk mempelajari syarat dan ketentuan dari Situs Eksternal itu secara seksama. </p>
          <p>5.	Layanan yang tersedia dalam Website ini secara umum menggunakan sistem marketing yang memungkinkan pihak ketiga (termasuk dan tidak terbatas pada Google) mengakses dan menggunakan data kunjungan dalam sistem website ini untuk menampilkan dan menayangkan kembali tiap iklan javaloca.netlify.app melalui internet.</p>
          <p>6.	Anda tidak boleh membuat link, melakukan screen capture atau data crawling ke Website tanpa adanya persetujuan tertulis sebelumnya dari javaloca.netlify.app. Hal-hal tersebut dianggap sebagai pelanggaran hak milik intelektual javaloca.netlify.app.</p>
      
</div>
</div>
</div>  <br> 

<div class="card">
  <div class="card-header" id="headingone">
    <h5 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse5 " aria-expanded="true" aria-controls="collapse5">
        <h3 class="textterms">Layanan Javaloca</h3>
      </button>
    </h5>
  </div>
  <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
    <div class="card-body">
      <p>1.	javaloca menyediakan dan menyelenggarakan sistem dan fasilitas pemesanan online secara terpadu ("Layanan"), yang dapat melayani pemesanan/pemesanan: AKOMODASI (hotel, hostel, apartment), TRANSPORTASI (udara-laut-darat), EVENT & ATTRACTION (bioskop, Pertunjukan, Leisure) ("Produk") yang memungkinkan Anda untuk mencari informasi atas Produk yang Anda inginkan, serta melakukan pemesanan dan pembelian dan sekaligus melakukan pembayaran secara online dan aman melalui berbagai sistem dan fasilitas pembayaran yang tersedia.</p>
      <p>2.	Layanan Kami secara umum dapat tersedia secara online selama dua puluh empat jam sehari dan tujuh hari dalam seminggu; kecuali dalam hal adanya perbaikan, peningkatan atau pemeliharaan pada Website Kami.</p>
      <p>3.	Produk disediakan, disuplai dan diselenggarakan oleh pihak ketiga ("Mitra Penyedia") yang telah mengadakan kerjasama dan telah mengadakan ikatan, baik secara langsung ataupun tidak langsung, dengan Kami. Anda memahami dan mengakui bahwa:
        <ul><li>	Pemesanan dan pembelian yang Anda lakukan melalui jacaloca, merupakan hubungan hukum dan kontrak yang mengikat antara Anda dan Mitra Penyedia Kami. Dalam hal ini, javaloca bertindak sebagai agen atau perantara yang bertugas untuk memfasilitasi transaksi antara Anda dan mitra Kami. Hubungan tiket.com dan mitra Kami terbatas pada hubungan kemitraan, yang dalam hal ini mitra Kami BUKAN merupakan bagian dari javaloca.</li>
        <li>	Data dan informasi termasuk foto terkait dengan Produk tertentu yang Kami cantumkan pada Website merupakan data dan informasi yang Kami terima dari Mitra Penyedia, dan Kami mempublikasikan data dan informasi tersebut dengan itikad baik sesuai dengan data dan informasi yang Kami terima. Oleh karena itu, data, informasi dan foto dapat berbeda dengan aslinya.</li>
        <li>	Kami tidak memiliki kendali atas data dan informasi yang diberikan oleh Mitra Penyedia, dan Kami tidak menjamin bahwa data dan informasi yang disajikan adalah akurat, lengkap, atau benar, dan terbebas dari kesalahan.</li>
        <li>	Kami tidak memiliki kendali atas tindakan dan kesalahan yang dilakukan oleh Mitra Penyedia sehingga menyebabkan kerugian yang dialami oleh Anda di kemudian hari.</li> 
        <li>	Anda tidak diperbolehkan untuk menjual kembali Produk Kami, menggunakan, menyalin, mengawasi, menampilkan, men-download, atau mereproduksi konten atau informasi, piranti lunak, atau Layanan apa pun yang tersedia di Website Kami untuk kegiatan atau tujuan komersial apapun, tanpa persetujuan tertulis dari Kami sebelumnya.</li>
        <li>	Anda dapat menggunakan Website dan Layanan yang tersedia untuk membuat pemesanan/pemesanan yang sah. Anda tidak diperbolehkan untuk membuat pemesanan/pemesanan untuk tujuan spekulasi, tidak benar atau melanggar hukum. Jika Kami menemukan atau sewajarnya menduga bahwa pemesanan/pemesanan yang Anda buat ternyata tidak sah, maka Kami mencadangkan hak untuk membatalkan pemesanan/pemesanan Anda.</li>
        <li>	Anda juga menjamin bahwa data dan informasi yang Anda berikan ke Kami, baik sehubungan dengan pemesanan/pemesanan ataupun pendaftaran pada tiket.com, adalah data dan informasi yang akurat, terkini dan lengkap. Untuk ketentuan penggunaan data dan informasi yang Anda berikan, silakan untuk merujuk pada Kebijakan Penggunaan Data.</li>
        <li>	Transaksi tiket.com yang resmi hanyalah yang dilakukan melalui website dan aplikasi tiket.com. Kami tidak bertanggungjawab atas transaksi yang terjadi diluar website dan/atau aplikasi javaloca.</li>
        <li>	Komunikasi yang resmi dari Kami hanyalah yang berasal dari alamat email sebagai berikut: javaloca.@gmail.com. Komunikasi diluar alamat email tersebut bukan merupakan tanggung jawab Kami.</li>
        <li>	Segala informasi yang terdapat dalam Surat Konfirmasi hanya untuk nama yang tertera pada Surat Konfirmasi. Kami tidak bertanggung jawab dalam hal informasi tersebut tersebar karena kelalaian dan/atau kesengajaan Anda sehingga menimbulkan kerugian bagi Anda atau pihak ketiga yang lainnya.</li></ul>
        </p>da tidak boleh membuat link, melakukan screen capture atau data crawling ke Website tanpa adanya persetujuan tertulis sebelumnya dari javaloca.netlify.app. Hal-hal tersebut dianggap sebagai pelanggaran hak milik intelektual javaloca.netlify.app.</p>
      
</div>
</div>
</div>   <br>


<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
        <h3 class="textterms" >Pemesanan/Pembelian Produk</h3>
      </button>
    </h5>
  </div>
  <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
    <div class="card-body">
      <p>1.	Pemesanan/pembelian Produk dianggap berhasil atau selesai setelah Anda melakukan pelunasan pembayaran dan tiket.com menerbitkan dan mengirim ke Anda, Surat Konfirmasi pemesanan/pembelian. Apabila terjadi perselisihan atau permasalahan, maka data yang terdapat pada javaloca akan menjadi acuan utama dan dianggap sah. </p>
          <p>2.	Dengan menyelesaikan pemesanan/pembelian, maka Anda dianggap setuju untuk menerima: 
            <ul>
                <li>email yang akan Kami kirim tidak lama sebelum tanggal pelayanan yang Anda pesan, memberikan Anda informasi tentang Produk yang Anda beli, dan menyediakan Anda informasi dan penawaran tertentu (termasuk penawaran pihak ketiga yang telah Anda pilih sendiri) yang terkait dengan pemesanan dan tujuan Anda, </li>
                <li>email yang akan Kami kirim tidak lama setelah tanggal pelayanan untuk mengundang Anda untuk melengkapi formulir ulasan pengguna Produk Kami. Selain dari konfirmasi email yang menyediakan konfirmasi pemesanan dan email-email yang telah Anda pilih sendiri, Kami tidak akan mengirimi Anda pemberitahuan (yang diinginkan maupun yang tidak), email, korespondensi lebih lanjut, kecuali jika diminta secara khusus oleh Anda.</li>
            </ul>
          </p>
          <p>3.	Anda diwajibkan untuk memperhatikan syarat dan ketentuan Produk yang terkait dengan:
              <ul>
                  <li>pembatasan usia</li>
                  <li>diperlukannya reservasi dan/atau konfirmasi terlebih dahulu sebelum kehadiran</li>
                  <li>adanya fixed date</li>
                  <li>ketidakhadiran (no show) oleh Anda dan keterkaitannya dengan refund</li>
                  <li>pembatasan pengalihan atau perubahan nama pada Surat Konfirmasi</li>
                  <li>dokumen yang harus dibawa pada saat penukaran Surat Konfirmasi</li>
                  <li>kartu kredit asli yang dipakai saat pembelian yang harus dibawa pada saat penukaran Surat Konfirmasi. Kami tidak bertanggung jawab dalam hal Anda lalai memperhatikan dan/atau tidak memperhatian syarat dan ketentuan tertentu tersebut.</li>
            </ul>
          </p>
          <p>4.	Beberapa Produk memiliki kewajiban untuk melakukan reservasi terlebih dahulu sesuai dengan syarat dan ketentuan yang berlaku. Anda bertanggung jawab sepenuhnya untuk mengikuti pengaturan tersebut.</p>
          <p>5.	Untuk jalur penerbangan internasional, pelanggan harus memiliki paspor dengan masa berlaku sekurang - kurangnya 6 (enam) bulan, pada saat tanggal keberangkatan dan/atau kepulangan.      </p>
          <p>6.	Segala dokumen dan informasi terkait ketibaan untuk penerbangan internasional, termasuk namun tidak terbatas pada visa, menjadi tanggung jawab Anda sendiri.</p>
          <p>7.	Khusus untuk Produk dalam bentuk tiket pesawat dengan fitur ‘Smart Trip’, Anda memahami bahwa Produk harus digunakan secara berurutan. Syarat dan ketentuan penjadwalan ulang akan tunduk pada kebijakan maskapai. Jika Produk dalam bentuk tiket pesawat untuk keberangkatan tidak dipakai, maka tiket secara otomatis hangus. Kami menyarankan agar Anda menghubungi Customer Care Kami untuk mendapatkan informasi lebih lanjut.</p>
          <p>8.	Masa berlaku untuk Produk dalam bentuk tiket pesawat adalah sebagaimana ditentukan oleh Mitra Penyedia dan Kami.</p>
          <p>9.	Semua aturan terkait bagasi, termasuk namun tidak terbatas pada berat, ukuran, jumlah, dsb, untuk Produk yang berlaku adalah sesuai kebijakan maskapai dan dapat berubah sewaktu-waktu tanpa pemberitahuan sebelumnya.</p>
          <p>10.	Kecuali ditentukan lain oleh Mitra Penyedia, tiket hanya dapat digunakan oleh yang namanya tercantum pada Surat Konfirmasi.</p>
          
</div>
</div>
</div> <br> 

<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
        <h3 class="textterms">Harga Produk</h3>
      </button>
    </h5>
  </div>
  <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
    <div class="card-body">
      <p>1.	Kami selalu berupaya untuk menyediakan harga terbaik atas Produk untuk dapat dipesan oleh Anda. Harga yang tertera mungkin memiliki syarat dan ketentuan khusus, sehingga Anda harus memeriksa sendiri dan memahami syarat dan ketentuan khusus yang berlaku terhadap suatu harga atau tarif tertentu sebelum Anda melakukan pemesanan. Anda juga perlu memeriksa dan memahami ketentuan mengenai pembatalan dan pengembalian dana yang secara khusus berlaku untuk Produk dan/atau harga tertentu.</p>
      <p>2.	Harga yang tercantum belum termasuk pajak, pungutan, biaya dan ongkos lainnya yang akan Kami uraian secara tegas pada Website atau Surat Konfirmasi dari Kami. Terkadang harga yang Kami peroleh dari Mitra Penyedia Produk Kami dalam mata uang Negara lain, dan Kami berupaya untuk mengkonversi harga tersebut ke dalam mata uang rupiah, dengan kurs konversi yang terbaik yang dapat Kami peroleh.</p>
      <p>3.	Harga yang ditampilkan dapat berubah berdasarkan keadaan tertentu. Walaupun sangat kecil kemungkinannya namun Kami dapat membatalkan, menolak atau merubah pemesanan Anda dalam hal terdapat penyesuaian ataupun kesalahan Mitra Penyedia Kami yang dapat menyebabkan perbedaan informasi atas produk milik Mitra Penyedia Kami pada Website dan Layanan Kami (contoh harga ataupun fasilitas yang diberikan). Sebagai akibatnya, Kami dapat menyesuaian pemesanan yang Anda buat atau Kami akan melakukan refund atas biaya yang dibayarkan kepada Kami. Keputusan akhir adalah diskresi javaloca.</p>
      
</div>
</div>
</div> <br> 

<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
        <h3 class="textterms">Pembayaran</h3>
      </button>
    </h5>
  </div>
  <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
    <div class="card-body">
      <p>1.	Pelunasan atas harga pembelian merupakan syarat untuk mendapatkan Produk dari Mitra Penyedia Kami.</p>
          <p>2.	Kami menerima pembayaran dengan sistem pembayaran menggunakan kartu kredit (VISA, Master Card, American Express dan JCB), Virtual Account, transfer antar rekening serta antar bank ke rekening bank tiket.com, dan metode pembayaran lainnya sebagaimana tercantum di Website.     </p>
          <p>3.	Untuk melindungi dan mengenskripsi informasi kartu kredit Anda, Kami menggunakan fasilitas teknologi "Secure Socket Layer (SSL)";</p>
          <p>4.	Dalam hal terjadi kasus penipuan kartu kredit atau penyalah-gunaan sistem pembayaran oleh pihak-pihak ketiga manapun, maka kejadian tersebut harus segera dilaporkan ke Kami dan perusahaan/bank penerbit kartu kredit Anda, untuk Anda memperoleh penanganan lebih lanjut sesuai dengan prosedur dan aturan yang berlaku.</p>
          <p>5.	Apabila berdasarkan pertimbangan kami terdapat indikasi penyalahgunaan atau penipuan (fraud) pada kartu kredit Anda dalam melakukan transaksi di platform javaloca, maka tiket.com berhak untuk melakukan pembatalan atas transaksi pembelian Produk atau melakukan pemblokiran terhadap fitur pembayaran menggunakan kartu kredit pada saat melakukan transaksi tanpa adanya pemberitahuan. javaloca tidak memiliki kendali atas setiap kebijakan dari bank penerbit kartu kredit, javaloca menyarankan agar Pelanggan untuk berkoordinasi secara langsung dengan bank penerbit kartu kredit.</p>
          <p>6.	javaloca memiliki hak untuk melaporkan kepada pihak yang berwenang dalam hal ditemukan adanya indikasi penyalahgunaan, penipuan atau tindakan melanggar hukum lainnya sehubungan dengan setiap kegiatan yang terjadi pada platform javaloca.</p>
          <p>7.	Anda wajib memperhatikan secara teliti instruksi pembayaran yang Kami berikan. Kekeliruan pembayaran yang Anda lakukan sebagai berikut: 
              <ul>
                  <li>pengisian nomor rekening Kami maupun nomor Virtual Account yang Kami tentukan untuk setiap pemesanan yang Anda lakukan</li>
                  <li>kesalahan melakukan nominal pembayaran atas pemesanan Anda, yang mengakibatkan berpindahnya dana Anda ke rekening atau Virtual Account yang tidak sesuai dengan instruksi pembayaran yang Kami berikan ataupun terdebetnya rekening bank Anda sejumlah nilai nominal yang tidak sesuai dengan instruksi pembayaran yang Kami berikan, sehingga mengakibatkan tidak terkonfirmasinya pesanan Anda, maka Anda dengan ini mengetahui dan menyetujui bahwa Kami tidak memiliki kewajiban untuk melakukan pengembalian dana kepada Anda sebagai akibat dari kekeliruan ataupun kelalaian yang Anda lakukan sendiri dengan tidak mengikuti instruksi pembayaran yang telah Kami berikan, sehingga dengan demikian kerugian tersebut menjadi resiko dan tanggung jawab Anda sepenuhnya. Selain itu, kekeliruan pembayaran sebagaimana disebutkan di atas tidak dapat dianggap sebagai pembayaran yang sah atas pesanan Anda, sehingga Anda harus melakukan pembayaran sesuai dengan instruksi pembayaran yang telah Kami berikan untuk mendapatkan konfirmasi terhadap pesanan yang Anda lakukan.</li>
              </ul>
          </p>
          <p>8.	Kami menerima pembayaran yang dilakukan dengan gift voucher, tiket point, gift card dan/atau bentuk lainnya yang secara resmi diterbitkan dan diterima oleh Kami. Namun dalam hal terjadi pembatalan pesanan Produk karena alasan apapun, maka refund hanya akan sebesar pembayaran dengan nilai uang yang Anda keluarkan, sedangkan nilai yang dibayarkan secara non-tunai seperti dalam bentuk gift voucher, gift card dan/atau bentuk lainnya tersebut menjadi hangus.</p>
          <p>9.	Atas setiap pemesanan yang dapat Kami konfirmasi, Kami akan mengirim Anda Surat Konfirmasi via email yang berisi uraian produk dan pemesanan yang Anda buat serta konfirmasi pembayaran. Anda bertanggung-jawab untuk mencetak dan menjaga informasi yang tertera pada Surat Konfirmasi yang Kami kirim. Surat Konfirmasi ini merupakan dokumen yang sangat penting dan Anda wajib membawa cetakan dari Surat Konfirmasi ini pada saat Anda akan menggunakan atau mengambil Produk yang Anda beli. Kami atau Mitra Penyedia Kami dapat untuk menolak memberikan Produk atau pelayanan, jika Anda tidak dapat membuktikan bahwa Anda telah secara sah melakukan pemesanan dan pelunasan, dan Anda membebaskan javaloca dari segala tanggung-jawab dan kerugian Anda dalam bentuk apapun.</p>
          <p>10.	Konfirmasi yang Anda terima dari Kami setelah anda selesai melakukan pemesanan dan sebelum melakukan pembayaran adalah trigger bahwa proses transaksi pembelian sedang terjadi. Anda hanya dapat melakukan pembatalan setiap saat sebelum pembayaran dilakukan. Atas pembayaran yang telah Anda lakukan, mohon menunggu hingga anda menerima Surat Konfirmasi. Dalam hal Surat Konfirmasi tidak segera Anda terima, jangan batalkan atau ubah pemesanan Anda dan segera hubungi Customer Service Kami untuk penjelasan lebih lanjut.</p>
          <p>11.	Dalam hal batas waktu sistem Kami untuk memproses pesanan Anda telah lewat sehingga Anda tidak mendapatkan Produk yang Anda pesan, maka Anda hanya akan mendapatkan refund atau kompensasi lain yang ditentukan berdasarkan ketentuan perundang-undangan yang berlaku.</p>
          <p>12.	Dalam hal Anda melakukan pembayaran dengan kartu kredit, Anda menegaskan bahwa semua permintaan refund yang diajukan kepada javaloca adalah bentuk dari persetujuan yang tegas dari Anda untuk menolak/melepaskan/menghentikan permintaan yang Anda ajukan kepada bank penerbit kartu kredit atas transaksi yang sama. javalocamemiliki hak untuk membatalkan permintaan refund yang telah dikabulkan oleh javaloca atau voucher yang telah diberikan javaloca dalam hal ada pengembalian ganda.</p>
          <p>13.	Dalam hal Anda meminta adanya perubahan atau pembatalan pada transaksi, Anda setuju bahwa javaloca dapat menyesuaikan atau membatalkan manfaat yang Anda dapat dari transaksi tersebut, termasuk namun tidak terbatas pada tiket point.</p>
          <br>
</div>
</div>
</div>  <br>


<%- include('../layouts/footer.ejs'); %>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
  </body>
</html>

  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">