<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Vaction-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
    <body>
      <header>
        <div class="container-fluid p-0">
            <ol class="breadcrumb p-4"  >
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item" ><a href="/Thingtodo">Things to do</a></li>
              <li class="breadcrumb-item active"  aria-current="page">Kota Tua</li>
            </ol>

          <div class="container-fluid d-flex justify-content-center" style="justify-content: center;">

            <div class="card" style="width: 50rem;">
              <img src="https://media.istockphoto.com/photos/old-town-jakarta-picture-id1296808945?b=1&k=20&m=1296808945&s=170667a&w=0&h=yQW_NDL-0mZ4DC2FQsQWHgyHpJTjfMFk3jpjR4fUpnU=" height="500px" width="600px" class="card-img-top img-vacation" alt="...">
              <div class="card-body">
                <h5 class="card-title">Kota Tua</h5>
                <p>Bermula pada tahun 1526, Fatahillah, seorang komandan dari Kesultanan Demak dikirim untuk menyerang pelabuhan Sunda Kelapa di kerajaan Hindu Pajajaran yang kemudian disebut Jayakarta. Kota ini hanya seluas 15 hektare dan mempunyai tata kelola khas pelabuhan tradisional Jawa. Kemudian pada tahun 1619, VOC menghancurkan Jayakarta di bawah komando Jan Pieterszoon Coen</p>
                <p>Artikel ini telah tayang di Katadata.co.id dengan judul "5 Wisata Kota Tua Jakarta, Ikon Sejarah yang Menarik dan Edukatif" ,  Satu tahun setelahnya, VOC membangun kota baru bernama Batavia untuk menghormati Batavieren, yaitu leluhur bangsa Belanda. Kota ini terpusat di sekitar tepi timur Sungai Ciliwung yang saat ini sudah menjadi Lapangan Fatahillah. Belanda memilih wilayah tersebut karena saat itu merupakan pusat perdagangan yang memiliki posisi strategis serta akses sumber daya alam yang mudah. Kota Batavia didesain dengan gaya Belanda Eropa lengkap dengan benteng (Kasteel Batavia), dinding kota, dan kanal. Pembangunan berakhir dibangun tahun 1650. </p>
                <p>Artikel ini telah tayang di Katadata.co.id dengan judul "5 Wisata Kota Tua Jakarta, Ikon Sejarah yang Menarik dan Edukatif" , Tak perlu waktu lama, Batavia menjadi pusat penting dari seluruh kepulauan Indonesia. Penduduk Batavia dinamakan "Batavianen" kemudian dikenal sebagai Suku Betawi yang merupakan keturunan dari berbagai etnis yang menghuni Batavia. Pada tahun 1942, selama pendudukan Jepang, Batavia mengalami perubahan nama menjadi Jakarta yang kita kenal saat ini dan masih berkedudukan sebagai Ibukota Indonesia hingga sekarang. Tahun 1972, Gubernur Jakarta, Ali Sadikin, mengeluarkan dekrit untuk menjadikan Kota Tua sebagai situs warisan. Keputusan Gubernur tersebut bertujuan untuk ditujukan melindungi sejarah dan arsitektur Kota Tua. </p>
                <br>

              </div>
            </div>
          </div>
          </div>
          </header>        
          <%- include('../layouts/footer.ejs'); %>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                  
        </body>
        </html>