<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Vaction-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
    <body>
      <header>
        <div class="container-fluid p-0">
            <ol class="breadcrumb p-4"  >
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item" ><a href="/Thingtodo">Things to do</a></li>
              <li class="breadcrumb-item active"  aria-current="page">MONUMEN NASIONAL (MONAS)</li>
            </ol>

          <div class="container-fluid d-flex justify-content-center" style="justify-content: center;">

            <div class="card" style="width: 50rem;">
              <img src="https://media.istockphoto.com/photos/indonesia-jakarta-the-national-monument-picture-id910768222?b=1&k=20&m=910768222&s=170667a&w=0&h=ho-fbThGAkb_oKoB0dsRV09EqyF9pDoSsnCqVne25Jw=" height="500px" width="600px" class="card-img-top img-vacation" alt="...">
              <div class="card-body">
                <h5 class="card-title">MONUMEN NASIONAL (MONAS)</h5>
                <p>Pernahkah kalian mengunjungi Monumen Nasional atau Monas yang merupakan landmark dari Kota Jakarta? Monas merupakan tempat bersejarah yang indah dan memiliki banyak arti. </p>
                <p>Pada tahun 1955 Presiden Soekarno membuat sayembara desain untuk membuat monumen yang mengenang perjuangan kemerdekaan bangsa Indonesia. Sayembara ini dilakukan dalam dua periode yakni Tahun 1955 dan 1960. </p>
                <p>Desain milik Silaban berhasil terpilih pada sayembara pertama, namun pada sayembara  selanjutnya tak satupun karya berhasil terpilih. Presiden Soekarno kemudian memutuskan meminta kembali Silaban untuk mendesain ulang Monumen Nasional sesuai dengan konsep pemikirannya yang berbentuk Lingga dan Yoni. Selain Silaban, ada beberapa arsitek lain yang juga terlibat dalam pembangunan Monas yakni R.M. Soedarsono. Monas resmi dibangun pada 17 Agustus 1961 dan mulai dibuka untuk umum pada tanggal 12 Juli 1975. </p>
                <p>Monumen Nasional atau yang populer disebut Monas merupakan monumen peringatan yang memiliki tinggi 132 meter atau sekitar 433 kaki dan dibangun diarea seluas 80 Hektar. Monas sendiri memiliki keindahan yang terletak di bagian puncak tugu karena terdapat lidah api yang dilapisi oleh lembaran emas yang menggambarkan sebuah semangat perjuangan Bangsa Indonesia yang menyala-nyala layaknya api. </p>
                <p>Tujuan didirikan Monas untuk mengenang perlawanan dan perjuangan Bangsa Indonesia pada masa revolusi kemerdekaan 1945, memberikan Bangsa Indonesia inspirasi dan membangkitkan jiwa semangat patriotisme sebagai generasi penerus bangsa. </p>
                <br>

              </div>
            </div>
          </div>
          </div>
          </header>        
          <%- include('../layouts/footer.ejs'); %>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                  
        </body>
        </html>