<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Vaction-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
    <body>
      <header>
        <div class="container-fluid p-0">
            <ol class="breadcrumb p-4"  >
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item" ><a href="vacation.html">Things to do</a></li>
              <li class="breadcrumb-item active"  aria-current="page">Gedung Sate</li>
            </ol>

          <div class="container-fluid d-flex justify-content-center" style="justify-content: center;">

            <div class="card" style="width: 50rem;">
              <img src="https://www.goodnewsfromindonesia.id/uploads/post/large-pict-100-tahun-gedung-sate-98fc7fa941f49fc5b656d5edc9536b65.jpg" height="500px" width="600px" class="card-img-top img-vacation" alt="...">
              <div class="card-body">
                <h5 class="card-title">Gedung Sate</h5>
                <p >Gedung Sate , dengan ciri khasnya berupa ornamen tusuk sate pada menara sentralnya, telah lama menjadi penanda atau markah tanah Kota Bandung yang tidak saja dikenal masyarakat di Jawa Barat, tetapi juga seluruh Indonesia bahkan model bangunan itu dijadikan pertanda bagi beberapa bangunan dan tanda-tanda kota di Jawa Barat. Misalnya bentuk gedung bagian depan Stasiun Kereta Api Tasikmalaya. Mulai dibangun tahun 1920, gedung berwarna putih ini masih berdiri kokoh namun anggun dan kini berfungsi sebagai gedung pusat pemerintahan Jawa Barat. </p>
                <p>Gedung Sate yang pada masa Hindia Belanda itu disebut . peletakan batu pertama dilakukan oleh Johanna Catherina Coops, puteri sulung Wali Kota Bandung, Bertus Coops dan Petronella Roelofsen, mewakili Gubernur Jenderal di Batavia, J.P. Graaf van Limburg Stirum pada tanggal 27 Juli 1920, merupakan hasil perencanaan sebuah tim yang terdiri dari Ir.J.Gerber, arsitek muda kenamaan lulusan Fakultas Teknik Delft Nederland, Ir. Eh. De Roo dan Ir. G. Hendriks serta pihak Gemeente van Bandoeng, diketuai Kol. Pur. VL. Slors dengan melibatkan 2000 pekerja, 150 orang di antaranya pemahat, atau ahli bongpay pengukir batu nisan dan pengukir kayu berkebangsaan Cina yang berasal dari Konghu atau Kanton, dibantu tukang batu, kuli aduk dan peladen yang berasal dari penduduk Kampung Sekeloa, Kampung Coblong Dago, Kampung Gandok dan Kampung Cibarengkok, yang sebelumnya mereka menggarap Gedong Sirap (Kampus ITB) dan Gedong Papak (Balai Kota Bandung).</p>
                <P>Banyak kalangan arsitek dan ahli bangunan menyatakan Gedung Sate adalah bangunan monumental yang anggun mempesona dengan gaya arsitektur unik mengarah kepada bentuk gaya arsitektur Indo-Eropa, (Indo Europeeschen architectuur stijl), sehingga tidak mustahil bila keanggunan Candi Borobudur ikut mewarnai Gedung Sate.</P>
                <br>

              </div>
            </div>
          </div>
          </div>
          </header>        
 
          <%- include('../layouts/footer.ejs'); %>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                  
        </body>
        </html>