<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Vaction-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
    <body>
      <header>
        <div class="container-fluid p-0">
            <ol class="breadcrumb p-4"  >
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item" ><a href="vacation.html">Things to do</a></li>
              <li class="breadcrumb-item active"  aria-current="page">candi Borobudur</li>
            </ol>

          <div class="container-fluid d-flex justify-content-center" style="justify-content: center;">

            <div class="card" style="width: 50rem;">
              <img src="https://image.freepik.com/free-photo/mount-bromo-volcano-mount-penanjakan-bromo-tengger-semeru-national-park-east-java-indonesia_335224-395.jpg" height="500px" width="600px" class="card-img-top img-vacation" alt="...">
              <div class="card-body">
                <h5 class="card-title">Bromo Tengger</h5>
                <p >Indonesia memiliki keanekaragaman keindahan alam yang tidak bisa ditandingi negara lain, mulai dari pantai yang indah, danau yang menawan, hingga panorama pegunungan berapi yang eksotis. Tak hanya itu, keindahan alam Indonesia juga dibalut kearifan budaya lokal yang membuat setiap orang merasa berada di rumahnya sendiri. Tak heran jika keberagaman alam dan budaya merupakan salah satu Pesona Indonesia.</p>
                <br>
                <p>Gunung Bromo merupakan salah satu dari begitu banyak Pesona Indonesia yang ada di Jawa Timur. Masuk dalam empat wilayah kabupaten, yaitu Probolinggo, Pasuruan, Lumajang, dan Malang, gunung berapi aktif ini menjadi destinasi wisata yang tak pernah sepi dari pengunjung. Gunung Bromo secara umum memiliki tinggi 2.392 meter di atas permukaan laut. Luasnya yang mencapai 5.300 hektar dilengkapi dengan lembah dan ngarai yang dikelilingi hamparan pasir. Pada musim penghujan, padang savana Bromo akan mengelurkan warna hijau yang menawan. </p>
                <br>

              </div>
            </div>
          </div>
          </div>
          </header>        
 
          <%- include('../layouts/footer.ejs'); %>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                  
        </body>
        </html>