<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Vaction-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
    <body>
      <header>
        <div class="container-fluid p-0">
            <ol class="breadcrumb p-4"  >
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item" ><a href="/Thingtodo">Things to do</a></li>
              <li class="breadcrumb-item active"  aria-current="page">Lawang Sewu</li>
            </ol>

          <div class="container-fluid d-flex justify-content-center" style="justify-content: center;">

            <div class="card" style="width: 50rem;">
              <img src="https://asset.kompas.com/crops/jq3AWaRI13npfjsZHj-Kz8oACWA=/0x0:739x493/750x500/data/photo/2020/04/23/5ea13b83807c8.jpg" height="500px" width="600px" class="card-img-top img-vacation" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lawang Sewu</h5>
                <p >Lawang Sewu adalah gedung bersejarah milik PT Kereta Api Indonesia (Persero) yang awalnya digunakan sebagai Kantor Pusat perusahaan kereta api swasta Nederlandsch-Indische Spoorweg Maatschappij (NISM). Gedung Lawang Sewu dibangun secara bertahap di atas lahan seluas 18.232 m2. Bangunan utama dimulai pada 27 Februari 1904 dan selesai pada Juli 1907. Sedangkan bangunan tambahan dibangun sekitar tahun 1916 dan selesai tahun 1918. </p>
                <br>
                <p>angunannya dirancang oleh Prof. Jakob F. Klinkhamer dan B.J. Ouendag, arsitek dari Amsterdam dengan ciri dominan berupa elemen lengkung dan sederhana. Bangunan di desain menyerupai huruf L serta memiliki jumlah jendela dan pintu yang banyak sebagai sistem sirkulasi udara. Karena jumlah pintunya yang banyak maka masyarakat menamainya dengan Lawang Sewu yang berarti seribu pintu.</p>
                <br>
                <p>Selain desain bangunanya yang unik, Lawang Sewu memiliki ornamen kaca patri pabrikan Johannes Lourens Schouten. Kaca patri tersebut bercerita tentang kemakmuran dan keindahan Jawa, kekuasaan Belanda atas Semarang dan Batavia, kota maritim serta kejayaan kereta api. Ragam hias lainnya pada Lawang Sewu antara lain ornamen tembikar pada bidang lengkung di atas balkon, kubah kecil di puncak menara air yang dilapisi tembaga, dan puncak menara dengan hiasan perunggu.</p>
                <br>

              </div>
            </div>
          </div>
          </div>
          </header>        
 
          <%- include('../layouts/footer.ejs'); %>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                  
        </body>
        </html>